
100 ICON "res/functions/00.ico"
101 ICON "res/functions/01.ico"
102 ICON "res/functions/02.ico"
103 ICON "res/functions/03.ico"
104 ICON "res/functions/04.ico"
105 ICON "res/functions/05.ico"
106 ICON "res/functions/06.ico"
107 ICON "res/functions/07.ico"
108 ICON "res/functions/08.ico"
109 ICON "res/functions/09.ico"
110 ICON "res/functions/10.ico"
111 ICON "res/functions/11.ico"
112 ICON "res/functions/12.ico"
113 ICON "res/functions/13.ico"
114 ICON "res/functions/14.ico"
115 ICON "res/functions/15.ico"
116 ICON "res/functions/16.ico"
117 ICON "res/functions/17.ico"
118 ICON "res/functions/18.ico"
119 ICON "res/functions/19.ico"
120 ICON "res/functions/20.ico"
121 ICON "res/functions/21.ico"
122 ICON "res/functions/22.ico"
123 ICON "res/functions/23.ico"
124 ICON "res/functions/24.ico"
125 ICON "res/functions/25.ico"
126 ICON "res/functions/26.ico"
127 ICON "res/functions/27.ico"
128 ICON "res/functions/28.ico"
129 ICON "res/functions/29.ico"
130 ICON "res/functions/30.ico"
131 ICON "res/functions/30.ico"
132 ICON "res/functions/10.ico"
133 ICON "res/functions/31.ico"
134 ICON "res/functions/32.ico"
135 ICON "res/functions/33.ico"
136 ICON "res/functions/34.ico"
137 ICON "res/functions/35.ico"

150 ICON "res/connect2.ico"
151 ICON "res/disconnect.ico"
152 ICON "res/password.ico"
153 ICON "res/dbview.ico"
154 ICON "res/vipusers.ico"
155 ICON "res/wol.ico"

200 ICON "res/main.ico"

201 ICON "res/zal.ico"

203 ICON "res/password.ico"

210 ICON "res/comp_big.ico"
211 ICON "res/user_big.ico"
212 ICON "res/refresh.ico"

220 ICON "res/zal.ico"
221 ICON "res/comp_small.ico"
222 ICON "res/user_small.ico"

230 ICON "res/vipadd.ico"
231 ICON "res/vipdel.ico"
232 ICON "res/vipclearpwd.ico"
233 ICON "res/sendmessage.ico"
234 ICON "res/autologon.ico"
235 ICON "res/turnshell.ico"
236 ICON "res/run.ico"
237 ICON "res/reg.ico"
238 ICON "res/bat.ico"
239 ICON "res/copyfiles.ico"
240 ICON "res/comp_small.ico"
241 ICON "res/wol.ico"
242 ICON "res/clientupdate.ico"
243 ICON "res/clientuninstall.ico"

