#pragma code_page(1251)

#include <windows.h>
#include "resource.h"
#include "lang.h"



IDD_MAIN DIALOGEX DISCARDABLE 0, 0, 156, 50
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOPMOST | WS_EX_TOOLWINDOW
CAPTION S_TITLE
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           S_TEXT,IDC_STATIC,4,4,148,26
    EDITTEXT        IDC_EDIT,4,30,146,12,ES_AUTOHSCROLL | WS_TABSTOP | ES_NOHIDESEL | ES_READONLY
END


CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "classv.exe.manifest"

