
#include <windows.h>
#include "resource.h"


IDI_ICON	ICON	DISCARDABLE	"icon.ico"


IDD_MAIN DIALOGEX DISCARDABLE 0, 0, 250, 203
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOPMOST
CAPTION ""
FONT 8, "MS Shell Dlg"
BEGIN
    LISTBOX         IDC_LIST,0,0,250,174,LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "",IDC_END,100,184,70,14
    PUSHBUTTON      "",IDC_SWITCH,175,184,70,14
END


CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "bodytm.exe.manifest"
