#pragma code_page(1251)

#include <windows.h>
#include "resource.h"
#include "lang.h"


IDI_ICON	ICON	"res/icon.ico"
IDI_SETTINGS	ICON	"res/settings.ico"
IDI_MIXER	ICON	"res/mixer.ico"
IDI_MIXEROFF	ICON	"res/mixer_off.ico"
IDI_REC		ICON	"res/rec.ico"
IDI_MINIMIZE	ICON	"res/minimize.ico"
IDI_INFO	ICON	"res/info.ico"
IDI_PASSWORD	ICON	"res/password.ico"
IDI_STRING	ICON	"res/string.ico"
IDI_IE		ICON	"res/icon_ie.ico"
IDI_X		ICON	"res/icon_x.ico"
IDI_DEFFOLDER	ICON	"res/folder.ico"
IDI_DEFFILE	ICON	"res/file.ico"
IDI_MONITOROFF	ICON	"res/monitor_off.ico"
IDI_EMPTY       ICON    "res/empty.ico"
IDI_LICMAN      ICON    "res/licman.ico"
IDI_DEFSHEET    ICON    "res/def_sheet.ico"
IDI_FASTEXIT    ICON    "res/fastexit.ico"
IDI_CAD_ICON    ICON    "gina/res/icon.ico"

IDB_CAD_LOGO    BITMAP  "gina/res/logo.bmp"
IDB_OVERLAYS	BITMAP	"res/overlay_small.bmp"
IDB_OVERLAYB	BITMAP	"res/overlay_big.bmp"
IDB_VIPHEADER	BITMAP	"res/vip_header.bmp"
IDB_IBUTTON	BITMAP	"res/ibutton.bmp"

IDW_HWIDENT     WAVE    "res/hwident.wav"

IDT_WCBLACK     RCDATA  "res/wc_black.jpg"
IDT_ABOUT	RCDATA	"res/about.png"

IDT_FLAG_0	RCDATA	"res/flag_1.png"
IDT_FLAG_1	RCDATA	"res/flag_2.png"
IDT_FLAG_2	RCDATA	"res/flag_3.png"
IDT_FLAG_3	RCDATA	"res/flag_4.png"
IDT_FLAG_4	RCDATA	"res/flag_5.png"
IDT_FLAG_5	RCDATA	"res/flag_6.png"
IDT_FLAG_6	RCDATA	"res/flag_7.png"
IDT_FLAG_7	RCDATA	"res/flag_8.png"


200    ICON  "res/menu/00.ico"
201    ICON  "res/menu/01.ico"
202    ICON  "res/menu/02.ico"
203    ICON  "res/menu/03.ico"
204    ICON  "res/menu/04.ico"
205    ICON  "res/menu/05.ico"
206    ICON  "res/menu/06.ico"
207    ICON  "res/menu/07.ico"
208    ICON  "res/menu/08.ico"
209    ICON  "res/menu/09.ico"
210    ICON  "res/menu/10.ico"
211    ICON  "res/menu/11.ico"

300    ICON  "res/menu/100.ico"
301    ICON  "res/menu/101.ico"
302    ICON  "res/menu/102.ico"
303    ICON  "res/menu/103.ico"
304    ICON  "res/menu/104.ico"
305    ICON  "res/menu/105.ico"
306    ICON  "res/menu/106.ico"
307    ICON  "res/menu/107.ico"
308    ICON  "res/menu/108.ico"
309    ICON  "res/menu/109.ico"
310    ICON  "res/menu/110.ico"
311    ICON  "res/menu/111.ico"


IDD_LICMAN DIALOGEX 0, 0, 220, 55
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION ""
FONT 8, "MS Shell Dlg"
BEGIN
    ICON            IDI_LICMAN,-1,9,7,20,20
    LTEXT           "",IDC_LABEL,40,10,170,8
    LTEXT           "",IDC_LABEL1,40,25,170,8
    LTEXT           "",IDC_LABEL2,40,34,170,8
END

IDD_LICSELECT DIALOGEX 0, 0, 160, 245
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION ""
FONT 8, "MS Shell Dlg"
BEGIN
    LISTBOX         IDC_COMBO1,0,0,160,212,WS_VSCROLL | WS_TABSTOP | LBS_NOTIFY | LBS_DISABLENOSCROLL
    DEFPUSHBUTTON   "",IDOK,55,220,50,14
END


IDD_STRING DIALOGEX 0, 0, 202, 34
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOPMOST
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "",IDC_LABEL,48,5,148,8
    EDITTEXT        IDC_EDIT,48,18,148,12,ES_AUTOHSCROLL
    ICON            IDI_STRING,IDC_SPICON,10,7,21,20
END


IDD_STRINGP DIALOGEX 0, 0, 202, 34
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOPMOST
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "",IDC_LABEL,48,5,148,8
    EDITTEXT        IDC_EDIT,48,18,148,12,ES_AUTOHSCROLL | ES_PASSWORD
    ICON            IDI_STRING,IDC_SPICON,10,7,21,20
END


IDD_VIPDIALOG DIALOGEX 0, 0, 213, 170
STYLE DS_CENTER | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION ""
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         IDB_VIPHEADER,IDC_STATIC,"Static",SS_BITMAP | SS_REALSIZECONTROL,0,0,213,37
    LTEXT           "",IDC_LABEL1,18,51,36,8
    LTEXT           "",IDC_LABEL2,18,72,36,8
    LTEXT           "",IDC_LABEL3,18,88,36,8,NOT WS_VISIBLE
    EDITTEXT        IDC_EDIT1,60,48,126,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_EDIT2,60,69,126,14,ES_AUTOHSCROLL | ES_PASSWORD
    EDITTEXT        IDC_EDIT3,60,85,126,14,ES_AUTOHSCROLL | ES_PASSWORD | NOT WS_VISIBLE
    RTEXT           "",IDC_LABEL4,60,90,126,8
    LTEXT           "",IDC_LABEL5,18,115,110,16,WS_DISABLED
    CONTROL         IDB_IBUTTON,IDC_PIC1,"Static",SS_BITMAP | SS_REALSIZEIMAGE,140,110,64,32
    DEFPUSHBUTTON   "",IDOK,78,150,60,14
    PUSHBUTTON      "",IDCANCEL,144,150,60,14
END


IDD_FASTEXIT DIALOGEX 0, 0, 300, 170
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOPMOST
CAPTION WSTR_014
FONT 8, "MS Shell Dlg"
BEGIN
    AUTORADIOBUTTON WSTR_015,IDC_RADIO1,10,10,250,12,WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON WSTR_016,IDC_RADIO2,10,50,250,12
    AUTORADIOBUTTON WSTR_017,IDC_RADIO3,10,90,250,12
    LTEXT           WSTR_019,IDC_STATIC,25,25,275,8
    LTEXT           WSTR_020,IDC_STATIC,25,65,275,8
    LTEXT           WSTR_021,IDC_STATIC,25,105,275,8
    DEFPUSHBUTTON   WSTR_022,IDOK,183,147,50,14
    PUSHBUTTON      WSTR_023,IDCANCEL,240,147,50,14
END


IDD_TURNSHELLON DIALOGEX 0, 0, 300, 170
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOPMOST
CAPTION WSTR_026
FONT 8, "MS Shell Dlg"
BEGIN
    AUTORADIOBUTTON WSTR_027,IDC_RADIO1,10,10,250,12,WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON WSTR_028,IDC_RADIO2,10,50,250,12
    LTEXT           WSTR_029,IDC_STATIC,25,25,275,8
    LTEXT           WSTR_030,IDC_STATIC,25,65,275,8
    DEFPUSHBUTTON   WSTR_022,IDOK,183,147,50,14
    PUSHBUTTON      WSTR_023,IDCANCEL,240,147,50,14
END


IDD_CAD DIALOGEX 0, 0, 266, 129
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION
EXSTYLE WS_EX_TOPMOST
CAPTION WSTR_035
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         IDB_CAD_LOGO,IDC_STATIC,"Static",SS_BITMAP | SS_REALSIZECONTROL,0,0,266,43
    ICON            IDI_CAD_ICON,IDC_STATIC,18,60,21,20
    GROUPBOX        "",IDC_STATIC,5,46,255,56
    LTEXT           "",IDC_LABEL1,66,60,180,8
    COMBOBOX        IDC_COMBO1,66,72,180,100,CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   WSTR_036,IDOK,156,108,50,14
    PUSHBUTTON      WSTR_037,IDCANCEL,210,108,50,14
END


CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "res/rshell.exe.manifest"
