#pragma code_page(1251)


#include <windows.h>
#include "resource.h"
#include "lang.h"




IDI_ICON                ICON                    "res/icon.ico"
IDB_LOGO                BITMAP                  "res/logo.bmp"


IDD_MAIN DIALOGEX 0, 0, 266, 129
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION S_TITLE
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         IDB_LOGO,IDC_STATIC,"Static",SS_BITMAP | SS_REALSIZECONTROL,0,0,266,43
    ICON            IDI_ICON,IDC_STATIC,18,60,21,20
    GROUPBOX        "",IDC_STATIC,5,46,255,56
    LTEXT           S_ACTION,IDC_STATIC,66,60,180,8
    COMBOBOX        IDC_COMBO,66,72,180,100,CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   S_OKAY,IDOK,156,108,50,14
    PUSHBUTTON      S_CANCEL,IDCANCEL,210,108,50,14
END

